@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* Reset code */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Barlow', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* header code */
nav{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    z-index: 1;
    height: 90px;
}
nav li a{
    color: rgb(161, 161, 161) !important;
}

.banner{
    top: 0;
    left: 0;
    height: calc("100vh-90px");
    z-index: -1;
}

/* Main Body code */
.info-head{
    color: #009CCE;
}
.vid {
    width: 800px;
    height: 575px;
}
.tech-icons {
    background-color: #101B41;
    padding: 20px 110px 20px 210px;
}